In [2]:
import quandl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# get adjusted closing prices of 5 selected companies with Quandl
quandl.ApiConfig.api_key = "qcuziaXwcMkpyPcwJuFT"
selected = ['CNP', 'F', 'WMT', 'GE', 'TSLA']
data = quandl.get_table('WIKI/PRICES', ticker = selected,
                        qopts = { 'columns': ['date', 'ticker', 'adj_close'] },
                        date = { 'gte': '2014-1-1', 'lte': '2016-12-31' }, paginate=True)

In [3]:
data.head()

           date ticker  adj_close
None
0    2014-01-02    CNP  19.116238
1    2014-01-03    CNP  19.107861
2    2014-01-06    CNP  19.132992
3    2014-01-07    CNP  19.334039
4    2014-01-08    CNP  19.132992

In [4]:
clean = data.set_index('date')
table = clean.pivot(columns='ticker')

In [5]:
table

            adj_close
ticker            CNP          F         GE      TSLA        WMT
date
2014-01-02  19.116238  12.726742  24.266002  150.1000  71.343743
2014-01-03  19.107861  12.784441  24.248354  149.5600  71.108673
2014-01-06  19.132992  12.842140  24.054226  147.0000  70.710863
2014-01-07  19.334039  12.677286  24.080698  149.3600  70.927850
2014-01-08  19.132992  12.809169  24.010106  151.2800  70.367299
2014-01-09  19.350793  13.056450  24.018930  147.5300  70.602369
2014-01-10  19.585348  13.246032  23.789506  145.7199  70.557163
2014-01-13  19.300532  13.279003  23.586554  139.3400  70.059900
2014-01-14  19.459694  13.518042  23.798330  161.2700  70.484834
2014-01-15  19.652364  13.765323  24.124818  164.1300  70.213599
2014-01-16  19.736134  13.790051  24.001282  170.9700  69.399895
2014-01-17  19.618856  13.616954  23.454194  170.0100  68.884550
2014-01-21  19.861788  13.526285  23.198298  176.6800  68.568109
2014-01-22  19.928804  13.641682  22.933578  178.5600  68.125093
2014-01-23  19.744511  13.542770  22.783570  181.5000  67.772488
2014-01-24  19.392678  13.048207  22.015882  174.6000  67.284265
2014-01-27  19.417809  12.949295  22.121770  169.6200  67.040154
2014-01-28  19.551841  12.957538  22.465906  178.3800  67.510294
2014-01-29  19.392678  12.681407  22.315898  175.2300  66.994949
2014-01-30  19.727757  12.673097  22.501202  182.8400  67.582624
2014-01-31  19.602102  12.432100  22.174714  181.4100  67.519335
2014-02-03  19.308908  12.091381  21.486442  177.1100  65.693022
2014-02-04  19.317285  12.357308  21.680570  178.7300  65.756311
2014-02-05  19.300532  12.240965  21.636450  174.4200  65.882887
2014-02-06  19.417809  12.340688  22.015882  178.3800  65.837681
2014-02-07  19.543464  12.440410  22.227658  186.5300  66.678508
2014-02-10  19.602102  12.332377  22.104122  196.5600  66.687549
2014-02-11  19.736134  12.432100  22.439434  196.6200  67.627829
2014-02-12  19.717286  12.465341  22.404138  195.3200  67.772488
2014-02-13  19.886533  12.531823  22.448258  199.6300  68.134134
...               ...        ...        ...       ...        ...
2016-11-17  22.346145  11.241272  29.769216  188.6600  67.333781
2016-11-18  22.461629  11.137098  29.653194  185.0200  66.701219
2016-11-21  22.634855  11.165509  29.846564  184.5200  67.508952
2016-11-22  22.731092  11.260213  30.146286  191.1700  68.238831
2016-11-23  22.721468  11.269683  30.300982  193.1400  68.929784
2016-11-25  23.048672  11.402267  30.397667  196.6500  69.319053
2016-11-28  23.260393  11.288624  30.213966  196.1200  69.280126
2016-11-29  23.183404  11.288624  30.020596  189.5700  69.455297
2016-11-30  22.962059  11.326505  29.740211  189.4000  68.540515
2016-12-01  22.904317  11.771610  30.349324  181.8800  68.774076
2016-12-02  23.193027  11.591674  30.300982  181.4700  68.978442
2016-12-05  23.077543  11.781080  30.078607  186.8000  68.063660
2016-12-06  22.885070  11.894724  30.136618  185.8500  68.472393
2016-12-07  23.183404  12.368240  30.552362  193.1500  69.192540
2016-12-08  23.144909  12.339829  30.484683  192.2900  68.937723
2016-12-09  23.510608  12.472414  30.726394  192.1800  68.682907
2016-12-12  23.587598  12.140953  30.803742  192.4300  70.241209
2016-12-13  23.654963  12.093601  30.687721  198.1500  70.368617
2016-12-14  23.270017  11.866313  30.455677  198.6900  69.917788
2016-12-15  23.395124  11.913665  30.223634  197.5800  69.662971
2016-12-16  23.375877  11.961016  30.697389  202.4900  69.564965
2016-12-19  23.539479  11.989427  30.861753  202.7300  70.153003
2016-12-20  23.731952  12.103071  31.180813  208.7900  70.388219
2016-12-21  23.722329  11.970487  31.064791  207.7000  69.819781
2016-12-22  23.905178  11.743199  30.997112  208.4500  68.202675
2016-12-23  23.895555  11.800021  31.055560  213.3400  68.153672
2016-12-27  23.828189  11.733729  31.075043  219.5300  68.310482
2016-12-28  23.520232  11.601144  30.880215  219.7400  67.928257
2016-12-29  23.799318  11.582204  30.889956  214.6800  67.879254
2016-12-30  23.712705  11.487500  30.782801  213.6900  67.742045

[756 rows x 5 columns]

In [6]:
# calculate daily and annual returns of the stocks
returns_daily = table.pct_change()
returns_annual = returns_daily.mean() * 250

In [8]:
type(returns_annual)

pandas.core.series.Series

In [9]:
# get daily and covariance of returns of the stock
cov_daily = returns_daily.cov()
cov_annual = cov_daily * 250

In [10]:
cov_daily

                 adj_close
ticker                 CNP         F        GE      TSLA       WMT
          ticker
adj_close CNP     0.000164  0.000056  0.000061  0.000070  0.000042
          F       0.000056  0.000211  0.000086  0.000117  0.000046
          GE      0.000061  0.000086  0.000134  0.000089  0.000043
          TSLA    0.000070  0.000117  0.000089  0.000707  0.000051
          WMT     0.000042  0.000046  0.000043  0.000051  0.000129

In [11]:
# empty lists to store returns, volatility and weights of imiginary portfolios
port_returns = []
port_volatility = []
sharpe_ratio = []
stock_weights = []

# set the number of combinations for imaginary portfolios
num_assets = len(selected)
num_portfolios = 50000

#set random seed for reproduction's sake
np.random.seed(101)

In [ ]:
# populate the empty lists with each portfolios returns,risk and weights
for single_portfolio in range(num_portfolios):
    weights = np.random.random(num_assets)
    weights /= np.sum(weights)
    returns = np.dot(weights, returns_annual)
    volatility = np.sqrt(np.dot(weights.T, np.dot(cov_annual, weights)))
    sharpe = returns / volatility
    sharpe_ratio.append(sharpe)
    port_returns.append(returns)
    port_volatility.append(volatility)
    stock_weights.append(weights)