In [1]:
import pandas as pd 
import numpy as np

In [2]:
# Firstly, separately read data with date and close price, and data with date and dividends;
# Then merge the data with close price and date and the data with date and dividends
def merge_close_div(x,y):
    close = pd.read_csv(x,header =1)
    close = close.drop(['Open','High','Low','Volume'],axis =1)
    close['Date'] = pd.to_datetime(close['Date'])
    dividend = pd.read_csv(y,header =1)
    dividend = dividend.drop(['Unnamed: 2','Unnamed: 3','Adjusted Close','Close'],axis =1)
    dividend['Date'] = pd.to_datetime(dividend['Date'])
    merge=pd.merge(close,dividend, how='outer', left_on='Date', right_on='Date')
    return merge

In [3]:
# Use the factor formula F = 1 - Di/Pi-1 to calculate the adjusted close price

def adj_cal(dt):
    adj =[]
    j =len( dt['Dividends']) -1
    f =1
    for i in range(len( dt['Dividends'])-1, -1, -1):
        if dt['Dividends'][i] >0:
            if j ==len( dt['Dividends']) -1:
                for x in range(j, i-1, -1):
                    adj.append(dt.iloc[x]['Close'])
                j =i
                factor = 1 - dt['Dividends'][j]/dt.iloc[j-1]['Close']
                f *= factor
            else:
                for x in range(j-1, i-1 , -1):
                    adj.append(dt.iloc[x]['Close']*f)
                j =i
                factor = 1 - dt['Dividends'][j]/dt.iloc[j-1]['Close']
                f *= factor
    if j >0:
        for x in range(j-1, -1, -1):
            adj.append(dt.iloc[x]['Close']*f)
    adj = adj[::-1]
    dt['adjusted close'] = pd.Series(adj)
    return dt

# Calculate WMT stock adjusted close price

In [4]:
merged_wmtdata = merge_close_div('wmt_close.csv','wmt_dividend.csv')

In [5]:
merged_wmtdata[:10]

        Date  Close  Dividends
0 2016-02-01  67.50        NaN
1 2016-02-02  66.86        NaN
2 2016-02-03  66.27        NaN
3 2016-02-04  66.42        NaN
4 2016-02-05  67.00        NaN
5 2016-02-08  66.90        NaN
6 2016-02-09  65.81        NaN
7 2016-02-10  65.79        NaN
8 2016-02-11  65.32        NaN
9 2016-02-12  66.18        NaN

In [6]:
#The number of closing price is null when merged
sum(np.isnan(merged_wmtdata['Close']))

0

In [7]:
#The number of dividends in this duration
sum(~np.isnan(merged_wmtdata['Dividends']))

8

In [8]:
# fill the nan with 0 
merged_wmtdata= merged_wmtdata.fillna(0)

In [9]:
merged_wmtdata

          Date   Close  Dividends
0   2016-02-01   67.50        0.0
1   2016-02-02   66.86        0.0
2   2016-02-03   66.27        0.0
3   2016-02-04   66.42        0.0
4   2016-02-05   67.00        0.0
5   2016-02-08   66.90        0.0
6   2016-02-09   65.81        0.0
7   2016-02-10   65.79        0.0
8   2016-02-11   65.32        0.0
9   2016-02-12   66.18        0.0
10  2016-02-16   65.90        0.0
11  2016-02-17   66.11        0.0
12  2016-02-18   64.12        0.0
13  2016-02-19   64.66        0.0
14  2016-02-22   65.63        0.0
15  2016-02-23   66.48        0.0
16  2016-02-24   67.12        0.0
17  2016-02-25   68.04        0.0
18  2016-02-26   66.51        0.0
19  2016-02-29   66.34        0.0
20  2016-03-01   66.46        0.0
21  2016-03-02   66.21        0.0
22  2016-03-03   66.14        0.0
23  2016-03-04   66.78        0.0
24  2016-03-07   67.89        0.0
25  2016-03-08   68.04        0.0
26  2016-03-09   67.53        0.5
27  2016-03-10   67.41        0.0
28  2016-03-11   67.17        0.0
29  2016-03-14   67.36        0.0
..         ...     ...        ...
474 2017-12-15   97.11        0.0
475 2017-12-18   97.90        0.0
476 2017-12-19   98.80        0.0
477 2017-12-20   98.75        0.0
478 2017-12-21   98.06        0.0
479 2017-12-22   98.21        0.0
480 2017-12-26   99.16        0.0
481 2017-12-27   99.26        0.0
482 2017-12-28   99.40        0.0
483 2017-12-29   98.75        0.0
484 2018-01-02   98.59        0.0
485 2018-01-03   99.45        0.0
486 2018-01-04   99.54        0.0
487 2018-01-05  100.13        0.0
488 2018-01-08  101.61        0.0
489 2018-01-09  100.39        0.0
490 2018-01-10   99.67        0.0
491 2018-01-11  100.02        0.0
492 2018-01-12  100.87        0.0
493 2018-01-16  100.69        0.0
494 2018-01-17  102.70        0.0
495 2018-01-18  104.30        0.0
496 2018-01-19  104.59        0.0
497 2018-01-22  105.45        0.0
498 2018-01-23  105.90        0.0
499 2018-01-24  105.79        0.0
500 2018-01-25  106.60        0.0
501 2018-01-26  108.39        0.0
502 2018-01-29  109.55        0.0
503 2018-01-30  107.73        0.0

[504 rows x 3 columns]

# the result with adjusted close price

In [10]:
adj_cal(merged_wmtdata)

          Date   Close  Dividends  adjusted close
0   2016-02-01   67.50        0.0       63.942250
1   2016-02-02   66.86        0.0       63.335982
2   2016-02-03   66.27        0.0       62.777080
3   2016-02-04   66.42        0.0       62.919174
4   2016-02-05   67.00        0.0       63.468603
5   2016-02-08   66.90        0.0       63.373874
6   2016-02-09   65.81        0.0       62.341325
7   2016-02-10   65.79        0.0       62.322379
8   2016-02-11   65.32        0.0       61.877152
9   2016-02-12   66.18        0.0       62.691823
10  2016-02-16   65.90        0.0       62.426581
11  2016-02-17   66.11        0.0       62.625513
12  2016-02-18   64.12        0.0       60.740401
13  2016-02-19   64.66        0.0       61.251939
14  2016-02-22   65.63        0.0       62.170812
15  2016-02-23   66.48        0.0       62.976011
16  2016-02-24   67.12        0.0       63.582278
17  2016-02-25   68.04        0.0       64.453788
18  2016-02-26   66.51        0.0       63.004430
19  2016-02-29   66.34        0.0       62.843390
20  2016-03-01   66.46        0.0       62.957065
21  2016-03-02   66.21        0.0       62.720242
22  2016-03-03   66.14        0.0       62.653932
23  2016-03-04   66.78        0.0       63.260199
24  2016-03-07   67.89        0.0       64.311694
25  2016-03-08   68.04        0.0       64.453788
26  2016-03-09   67.53        0.5       64.444245
27  2016-03-10   67.41        0.0       64.329728
28  2016-03-11   67.17        0.0       64.100695
29  2016-03-14   67.36        0.0       64.282013
..         ...     ...        ...             ...
474 2017-12-15   97.11        0.0       97.110000
475 2017-12-18   97.90        0.0       97.900000
476 2017-12-19   98.80        0.0       98.800000
477 2017-12-20   98.75        0.0       98.750000
478 2017-12-21   98.06        0.0       98.060000
479 2017-12-22   98.21        0.0       98.210000
480 2017-12-26   99.16        0.0       99.160000
481 2017-12-27   99.26        0.0       99.260000
482 2017-12-28   99.40        0.0       99.400000
483 2017-12-29   98.75        0.0       98.750000
484 2018-01-02   98.59        0.0       98.590000
485 2018-01-03   99.45        0.0       99.450000
486 2018-01-04   99.54        0.0       99.540000
487 2018-01-05  100.13        0.0      100.130000
488 2018-01-08  101.61        0.0      101.610000
489 2018-01-09  100.39        0.0      100.390000
490 2018-01-10   99.67        0.0       99.670000
491 2018-01-11  100.02        0.0      100.020000
492 2018-01-12  100.87        0.0      100.870000
493 2018-01-16  100.69        0.0      100.690000
494 2018-01-17  102.70        0.0      102.700000
495 2018-01-18  104.30        0.0      104.300000
496 2018-01-19  104.59        0.0      104.590000
497 2018-01-22  105.45        0.0      105.450000
498 2018-01-23  105.90        0.0      105.900000
499 2018-01-24  105.79        0.0      105.790000
500 2018-01-25  106.60        0.0      106.600000
501 2018-01-26  108.39        0.0      108.390000
502 2018-01-29  109.55        0.0      109.550000
503 2018-01-30  107.73        0.0      107.730000

[504 rows x 4 columns]

# Calculate XOM stock adjusted close price

In [11]:
merged_xomdata = merge_close_div('xom_close.csv','xom_dividend.csv')

In [12]:
merged_xomdata

          Date  Close  Dividends
0   2016-02-01  76.29        NaN
1   2016-02-02  74.59        NaN
2   2016-02-03  78.48        NaN
3   2016-02-04  79.83        NaN
4   2016-02-05  80.08        NaN
5   2016-02-08  81.16        NaN
6   2016-02-09  80.08       0.73
7   2016-02-10  79.35        NaN
8   2016-02-11  79.60        NaN
9   2016-02-12  81.03        NaN
10  2016-02-16  81.22        NaN
11  2016-02-17  82.00        NaN
12  2016-02-18  82.45        NaN
13  2016-02-19  82.50        NaN
14  2016-02-22  82.39        NaN
15  2016-02-23  81.23        NaN
16  2016-02-24  81.52        NaN
17  2016-02-25  82.01        NaN
18  2016-02-26  81.75        NaN
19  2016-02-29  80.15        NaN
20  2016-03-01  81.28        NaN
21  2016-03-02  82.70        NaN
22  2016-03-03  82.40        NaN
23  2016-03-04  82.29        NaN
24  2016-03-07  84.46        NaN
25  2016-03-08  82.63        NaN
26  2016-03-09  82.40        NaN
27  2016-03-10  82.18        NaN
28  2016-03-11  82.19        NaN
29  2016-03-14  82.41        NaN
..         ...    ...        ...
475 2017-12-18  82.94        NaN
476 2017-12-19  82.44        NaN
477 2017-12-20  82.87        NaN
478 2017-12-21  83.85        NaN
479 2017-12-22  83.97        NaN
480 2017-12-26  83.98        NaN
481 2017-12-27  83.90        NaN
482 2017-12-28  84.02        NaN
483 2017-12-29  83.64        NaN
484 2018-01-02  85.03        NaN
485 2018-01-03  86.70        NaN
486 2018-01-04  86.82        NaN
487 2018-01-05  86.75        NaN
488 2018-01-08  87.14        NaN
489 2018-01-09  86.77        NaN
490 2018-01-10  86.08        NaN
491 2018-01-11  86.93        NaN
492 2018-01-12  87.52        NaN
493 2018-01-16  86.97        NaN
494 2018-01-17  88.00        NaN
495 2018-01-18  87.43        NaN
496 2018-01-19  87.15        NaN
497 2018-01-22  88.25        NaN
498 2018-01-23  88.30        NaN
499 2018-01-24  88.53        NaN
500 2018-01-25  88.37        NaN
501 2018-01-26  89.00        NaN
502 2018-01-29  88.01        NaN
503 2018-01-30  86.78        NaN
504 2018-01-31  87.30        NaN

[505 rows x 3 columns]

In [13]:
#The number of closing price is null when merged
sum(np.isnan(merged_xomdata['Close']))

0

In [14]:
#The number of dividends in this duration
sum(~np.isnan(merged_xomdata['Dividends']))

8

In [15]:
# fill the nan with 0 
merged_xomdata= merged_xomdata.fillna(0)

In [16]:
adj_cal(merged_xomdata)

          Date  Close  Dividends  adjusted close
0   2016-02-01  76.29       0.00       70.985121
1   2016-02-02  74.59       0.00       69.403332
2   2016-02-03  78.48       0.00       73.022838
3   2016-02-04  79.83       0.00       74.278965
4   2016-02-05  80.08       0.00       74.511581
5   2016-02-08  81.16       0.00       75.516483
6   2016-02-09  80.08       0.73       75.187864
7   2016-02-10  79.35       0.00       74.502460
8   2016-02-11  79.60       0.00       74.737188
9   2016-02-12  81.03       0.00       76.079828
10  2016-02-16  81.22       0.00       76.258221
11  2016-02-17  82.00       0.00       76.990570
12  2016-02-18  82.45       0.00       77.413080
13  2016-02-19  82.50       0.00       77.460025
14  2016-02-22  82.39       0.00       77.356745
15  2016-02-23  81.23       0.00       76.267610
16  2016-02-24  81.52       0.00       76.539894
17  2016-02-25  82.01       0.00       76.999959
18  2016-02-26  81.75       0.00       76.755843
19  2016-02-29  80.15       0.00       75.253588
20  2016-03-01  81.28       0.00       76.314556
21  2016-03-02  82.70       0.00       77.647807
22  2016-03-03  82.40       0.00       77.366134
23  2016-03-04  82.29       0.00       77.262854
24  2016-03-07  84.46       0.00       79.300287
25  2016-03-08  82.63       0.00       77.582083
26  2016-03-09  82.40       0.00       77.366134
27  2016-03-10  82.18       0.00       77.159574
28  2016-03-11  82.19       0.00       77.168963
29  2016-03-14  82.41       0.00       77.375523
..         ...    ...        ...             ...
475 2017-12-18  82.94       0.00       82.940000
476 2017-12-19  82.44       0.00       82.440000
477 2017-12-20  82.87       0.00       82.870000
478 2017-12-21  83.85       0.00       83.850000
479 2017-12-22  83.97       0.00       83.970000
480 2017-12-26  83.98       0.00       83.980000
481 2017-12-27  83.90       0.00       83.900000
482 2017-12-28  84.02       0.00       84.020000
483 2017-12-29  83.64       0.00       83.640000
484 2018-01-02  85.03       0.00       85.030000
485 2018-01-03  86.70       0.00       86.700000
486 2018-01-04  86.82       0.00       86.820000
487 2018-01-05  86.75       0.00       86.750000
488 2018-01-08  87.14       0.00       87.140000
489 2018-01-09  86.77       0.00       86.770000
490 2018-01-10  86.08       0.00       86.080000
491 2018-01-11  86.93       0.00       86.930000
492 2018-01-12  87.52       0.00       87.520000
493 2018-01-16  86.97       0.00       86.970000
494 2018-01-17  88.00       0.00       88.000000
495 2018-01-18  87.43       0.00       87.430000
496 2018-01-19  87.15       0.00       87.150000
497 2018-01-22  88.25       0.00       88.250000
498 2018-01-23  88.30       0.00       88.300000
499 2018-01-24  88.53       0.00       88.530000
500 2018-01-25  88.37       0.00       88.370000
501 2018-01-26  89.00       0.00       89.000000
502 2018-01-29  88.01       0.00       88.010000
503 2018-01-30  86.78       0.00       86.780000
504 2018-01-31  87.30       0.00       87.300000

[505 rows x 4 columns]

# Calculate MSFT stock adjusted close price

In [17]:
merged_msftdata = merge_close_div('msft_close.csv','msft_dividend.csv')

In [18]:
# fill the nan with 0 
merged_msftdata= merged_msftdata.fillna(0)

In [19]:
adj_cal(merged_msftdata)

          Date  Close  Dividends  adjusted close
0   2016-02-01  54.71       0.00       52.085834
1   2016-02-02  53.00       0.00       50.457854
2   2016-02-03  52.16       0.00       49.658145
3   2016-02-04  52.00       0.00       49.505819
4   2016-02-05  50.16       0.00       47.754075
5   2016-02-08  49.41       0.00       47.040048
6   2016-02-09  49.28       0.00       46.916284
7   2016-02-10  49.71       0.00       47.325659
8   2016-02-11  49.69       0.00       47.306618
9   2016-02-12  50.50       0.00       48.077767
10  2016-02-16  51.09       0.36       48.988694
11  2016-02-17  52.42       0.00       50.263991
12  2016-02-18  52.19       0.00       50.043451
13  2016-02-19  51.82       0.00       49.688669
14  2016-02-22  52.65       0.00       50.484532
15  2016-02-23  51.18       0.00       49.074992
16  2016-02-24  51.36       0.00       49.247589
17  2016-02-25  52.10       0.00       49.957153
18  2016-02-26  51.30       0.00       49.190056
19  2016-02-29  50.88       0.00       48.787331
20  2016-03-01  52.58       0.00       50.417411
21  2016-03-02  52.95       0.00       50.772193
22  2016-03-03  52.35       0.00       50.196870
23  2016-03-04  52.03       0.00       49.890032
24  2016-03-07  51.03       0.00       48.931161
25  2016-03-08  51.65       0.00       49.525661
26  2016-03-09  52.84       0.00       50.666717
27  2016-03-10  52.05       0.00       49.909209
28  2016-03-11  53.07       0.00       50.887257
29  2016-03-14  53.17       0.00       50.983144
..         ...    ...        ...             ...
474 2017-12-15  86.85       0.00       86.850000
475 2017-12-18  86.38       0.00       86.380000
476 2017-12-19  85.83       0.00       85.830000
477 2017-12-20  85.52       0.00       85.520000
478 2017-12-21  85.50       0.00       85.500000
479 2017-12-22  85.51       0.00       85.510000
480 2017-12-26  85.40       0.00       85.400000
481 2017-12-27  85.71       0.00       85.710000
482 2017-12-28  85.72       0.00       85.720000
483 2017-12-29  85.54       0.00       85.540000
484 2018-01-02  85.95       0.00       85.950000
485 2018-01-03  86.35       0.00       86.350000
486 2018-01-04  87.11       0.00       87.110000
487 2018-01-05  88.19       0.00       88.190000
488 2018-01-08  88.28       0.00       88.280000
489 2018-01-09  88.22       0.00       88.220000
490 2018-01-10  87.82       0.00       87.820000
491 2018-01-11  88.08       0.00       88.080000
492 2018-01-12  89.60       0.00       89.600000
493 2018-01-16  88.35       0.00       88.350000
494 2018-01-17  90.14       0.00       90.140000
495 2018-01-18  90.10       0.00       90.100000
496 2018-01-19  90.00       0.00       90.000000
497 2018-01-22  91.61       0.00       91.610000
498 2018-01-23  91.90       0.00       91.900000
499 2018-01-24  91.82       0.00       91.820000
500 2018-01-25  92.33       0.00       92.330000
501 2018-01-26  94.06       0.00       94.060000
502 2018-01-29  93.92       0.00       93.920000
503 2018-01-30  92.74       0.00       92.740000

[504 rows x 4 columns]

# Calculate KKR stock adjusted close price¶

In [20]:
merged_kkrdata = merge_close_div('kkr_close.csv','kkr_dividend.csv')

In [21]:
# fill the nan with 0 
merged_kkrdata= merged_kkrdata.fillna(0)

In [22]:
adj_cal(merged_kkrdata)

          Date  Close  Dividends  adjusted close
0   2016-02-01  13.91       0.00       12.802109
1   2016-02-02  13.38       0.00       12.314322
2   2016-02-03  13.25       0.00       12.194676
3   2016-02-04  13.64       0.00       12.553613
4   2016-02-05  13.83       0.00       12.728480
5   2016-02-08  12.93       0.00       11.900163
6   2016-02-09  12.62       0.00       11.614853
7   2016-02-10  11.71       0.00       10.777332
8   2016-02-11  11.13       0.00       10.243528
9   2016-02-12  11.94       0.00       10.989013
10  2016-02-16  12.48       0.00       11.486004
11  2016-02-17  12.60       0.00       11.596446
12  2016-02-18  12.81       0.16       11.941357
13  2016-02-19  12.82       0.00       11.950679
14  2016-02-22  13.16       0.00       12.267623
15  2016-02-23  13.01       0.00       12.127795
16  2016-02-24  12.62       0.00       11.764241
17  2016-02-25  12.26       0.00       11.428652
18  2016-02-26  12.34       0.00       11.503227
19  2016-02-29  12.84       0.00       11.969322
20  2016-03-01  12.96       0.00       12.081185
21  2016-03-02  12.78       0.00       11.913391
22  2016-03-03  12.98       0.00       12.099829
23  2016-03-04  13.42       0.00       12.509993
24  2016-03-07  13.95       0.00       13.004054
25  2016-03-08  13.34       0.00       12.435418
26  2016-03-09  13.50       0.00       12.584568
27  2016-03-10  13.78       0.00       12.845581
28  2016-03-11  14.15       0.00       13.190492
29  2016-03-14  14.11       0.00       13.153204
..         ...    ...        ...             ...
474 2017-12-15  20.10       0.00       20.100000
475 2017-12-18  20.63       0.00       20.630000
476 2017-12-19  20.77       0.00       20.770000
477 2017-12-20  20.91       0.00       20.910000
478 2017-12-21  21.15       0.00       21.150000
479 2017-12-22  21.18       0.00       21.180000
480 2017-12-26  20.99       0.00       20.990000
481 2017-12-27  21.07       0.00       21.070000
482 2017-12-28  21.13       0.00       21.130000
483 2017-12-29  21.06       0.00       21.060000
484 2018-01-02  21.51       0.00       21.510000
485 2018-01-03  21.97       0.00       21.970000
486 2018-01-04  21.99       0.00       21.990000
487 2018-01-05  21.92       0.00       21.920000
488 2018-01-08  22.03       0.00       22.030000
489 2018-01-09  22.67       0.00       22.670000
490 2018-01-10  22.85       0.00       22.850000
491 2018-01-11  23.03       0.00       23.030000
492 2018-01-12  23.08       0.00       23.080000
493 2018-01-16  22.79       0.00       22.790000
494 2018-01-17  22.85       0.00       22.850000
495 2018-01-18  22.55       0.00       22.550000
496 2018-01-19  22.77       0.00       22.770000
497 2018-01-22  23.02       0.00       23.020000
498 2018-01-23  23.76       0.00       23.760000
499 2018-01-24  23.99       0.00       23.990000
500 2018-01-25  24.41       0.00       24.410000
501 2018-01-26  24.40       0.00       24.400000
502 2018-01-29  24.25       0.00       24.250000
503 2018-01-30  23.96       0.00       23.960000

[504 rows x 4 columns]

# Calculate KO stock adjusted close price

In [23]:
merged_kodata = merge_close_div('ko_close.csv','ko_dividend.csv')

In [24]:
# fill the nan with 0 
merged_kodata= merged_kodata.fillna(0)

In [25]:
adj_cal(merged_kodata)

          Date  Close  Dividends  adjusted close
0   2016-02-01  43.00       0.00       40.292403
1   2016-02-02  42.44       0.00       39.767665
2   2016-02-03  42.72       0.00       40.030034
3   2016-02-04  42.53       0.00       39.851998
4   2016-02-05  42.44       0.00       39.767665
5   2016-02-08  42.65       0.00       39.964442
6   2016-02-09  43.30       0.00       40.573513
7   2016-02-10  42.55       0.00       39.870738
8   2016-02-11  42.41       0.00       39.739554
9   2016-02-12  43.11       0.00       40.395477
10  2016-02-16  43.36       0.00       40.629735
11  2016-02-17  43.49       0.00       40.751549
12  2016-02-18  43.61       0.00       40.863993
13  2016-02-19  43.77       0.00       41.013918
14  2016-02-22  43.94       0.00       41.173214
15  2016-02-23  43.69       0.00       40.938956
16  2016-02-24  43.91       0.00       41.145103
17  2016-02-25  44.16       0.00       41.379361
18  2016-02-26  43.14       0.00       40.423588
19  2016-02-29  43.13       0.00       40.414217
20  2016-03-01  43.69       0.00       40.938956
21  2016-03-02  43.77       0.00       41.013918
22  2016-03-03  43.96       0.00       41.191954
23  2016-03-04  44.11       0.00       41.332509
24  2016-03-07  44.01       0.00       41.238806
25  2016-03-08  44.32       0.00       41.529286
26  2016-03-09  44.81       0.00       41.988432
27  2016-03-10  45.23       0.00       42.381986
28  2016-03-11  45.20       0.35       42.684175
29  2016-03-14  45.29       0.00       42.769165
..         ...    ...        ...             ...
475 2017-12-18  45.93       0.00       45.930000
476 2017-12-19  46.13       0.00       46.130000
477 2017-12-20  46.08       0.00       46.080000
478 2017-12-21  45.60       0.00       45.600000
479 2017-12-22  45.59       0.00       45.590000
480 2017-12-26  45.81       0.00       45.810000
481 2017-12-27  45.93       0.00       45.930000
482 2017-12-28  45.72       0.00       45.720000
483 2017-12-29  45.88       0.00       45.880000
484 2018-01-02  45.54       0.00       45.540000
485 2018-01-03  45.44       0.00       45.440000
486 2018-01-04  46.08       0.00       46.080000
487 2018-01-05  46.07       0.00       46.070000
488 2018-01-08  46.00       0.00       46.000000
489 2018-01-09  46.23       0.00       46.230000
490 2018-01-10  46.07       0.00       46.070000
491 2018-01-11  46.04       0.00       46.040000
492 2018-01-12  46.15       0.00       46.150000
493 2018-01-16  46.53       0.00       46.530000
494 2018-01-17  46.82       0.00       46.820000
495 2018-01-18  46.88       0.00       46.880000
496 2018-01-19  47.16       0.00       47.160000
497 2018-01-22  47.38       0.00       47.380000
498 2018-01-23  47.45       0.00       47.450000
499 2018-01-24  47.83       0.00       47.830000
500 2018-01-25  47.84       0.00       47.840000
501 2018-01-26  48.53       0.00       48.530000
502 2018-01-29  47.70       0.00       47.700000
503 2018-01-30  47.41       0.00       47.410000
504 2018-01-31  47.59       0.00       47.590000

[505 rows x 4 columns]

# Calculate BP stock adjusted close price

In [26]:
merged_bpdata = merge_close_div('bp_close.csv','bp_dividend.csv')

In [27]:
# fill the nan with 0 
merged_bpdata= merged_bpdata.fillna(0)

In [28]:
adj_cal(merged_bpdata)

          Date  Close  Dividends  adjusted close
0   2016-02-01  31.70        0.0       27.525210
1   2016-02-02  29.02        0.0       25.198158
2   2016-02-03  29.66        0.0       25.753872
3   2016-02-04  30.61        0.0       26.578760
4   2016-02-05  30.46        0.0       26.448515
5   2016-02-08  29.92        0.0       25.979631
6   2016-02-09  28.95        0.0       25.137377
7   2016-02-10  28.04        0.6       24.862506
8   2016-02-11  27.64        0.0       24.507834
9   2016-02-12  29.02        0.0       25.731452
10  2016-02-16  29.06        0.0       25.766919
11  2016-02-17  29.95        0.0       26.556065
12  2016-02-18  29.78        0.0       26.405329
13  2016-02-19  29.75        0.0       26.378729
14  2016-02-22  30.30        0.0       26.866403
15  2016-02-23  29.00        0.0       25.713719
16  2016-02-24  28.54        0.0       25.305846
17  2016-02-25  28.66        0.0       25.412248
18  2016-02-26  29.00        0.0       25.713719
19  2016-02-29  29.09        0.0       25.793520
20  2016-03-01  29.63        0.0       26.272327
21  2016-03-02  30.21        0.0       26.786601
22  2016-03-03  30.87        0.0       27.371810
23  2016-03-04  31.15        0.0       27.620081
24  2016-03-07  31.50        0.0       27.930419
25  2016-03-08  30.07        0.0       26.662466
26  2016-03-09  30.30        0.0       26.866403
27  2016-03-10  29.83        0.0       26.449663
28  2016-03-11  30.55        0.0       27.088073
29  2016-03-14  29.95        0.0       26.556065
..         ...    ...        ...             ...
474 2017-12-15  40.28        0.0       40.280000
475 2017-12-18  40.84        0.0       40.840000
476 2017-12-19  40.64        0.0       40.640000
477 2017-12-20  40.95        0.0       40.950000
478 2017-12-21  41.68        0.0       41.680000
479 2017-12-22  41.29        0.0       41.290000
480 2017-12-26  41.69        0.0       41.690000
481 2017-12-27  41.72        0.0       41.720000
482 2017-12-28  41.87        0.0       41.870000
483 2017-12-29  42.03        0.0       42.030000
484 2018-01-02  42.38        0.0       42.380000
485 2018-01-03  42.87        0.0       42.870000
486 2018-01-04  43.04        0.0       43.040000
487 2018-01-05  43.10        0.0       43.100000
488 2018-01-08  43.08        0.0       43.080000
489 2018-01-09  42.87        0.0       42.870000
490 2018-01-10  42.90        0.0       42.900000
491 2018-01-11  43.27        0.0       43.270000
492 2018-01-12  43.91        0.0       43.910000
493 2018-01-16  42.46        0.0       42.460000
494 2018-01-17  42.88        0.0       42.880000
495 2018-01-18  42.90        0.0       42.900000
496 2018-01-19  42.40        0.0       42.400000
497 2018-01-22  43.39        0.0       43.390000
498 2018-01-23  43.24        0.0       43.240000
499 2018-01-24  43.94        0.0       43.940000
500 2018-01-25  43.74        0.0       43.740000
501 2018-01-26  43.81        0.0       43.810000
502 2018-01-29  43.35        0.0       43.350000
503 2018-01-30  42.81        0.0       42.810000

[504 rows x 4 columns]